深度研究ai工具.yml
app:
  description: 'Fixed workflow generated from the image-extracted Dify design: Tavily-style
    deep research flow adapted to local Dify with Jina Search fallback.'
  icon: 🧭
  icon_background: '#DCFCE7'
  icon_type: emoji
  mode: workflow
  name: 深度研究ai工具
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.2@21195ee1321849e0a7d4b3f6b2fd8c2be23ea6c7182e1b444ecc4c1711b52468
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tavily:0.1.10@b43f5dc49fbafc69949ee8231d600b23fb7586d514f4c72e470a86af03d2173d
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: e-start-intent
      source: start
      sourceHandle: source
      target: intent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: e-intent-parse
      source: intent
      sourceHandle: source
      target: parse_intent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: e-parse-questions
      source: parse_intent
      sourceHandle: source
      target: questions
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: e-questions-parse
      source: questions
      sourceHandle: source
      target: parse_questions
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: e-parse-iteration
      selected: false
      source: parse_questions
      sourceHandle: source
      target: loop
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: loop
        sourceType: iteration-start
        targetType: llm
      id: e-loop-keywords
      source: loopstart
      sourceHandle: source
      target: keywords
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: loop
        sourceType: llm
        targetType: code
      id: e-keywords-parse
      source: keywords
      sourceHandle: source
      target: parse_keywords
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: loop
        sourceType: llm
        targetType: code
      id: e-extract-parse
      source: extract
      sourceHandle: source
      target: parse_extract
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: loop
        sourceType: code
        targetType: llm
      id: e-parse-quality
      source: parse_extract
      sourceHandle: source
      target: quality
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: loop
        sourceType: llm
        targetType: code
      id: e-quality-merge
      selected: false
      source: quality
      sourceHandle: source
      target: merge
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: llm
      id: e-loop-integrate
      selected: false
      source: loop
      sourceHandle: source
      target: integrate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: e-integrate-report
      selected: false
      source: integrate
      sourceHandle: source
      target: report
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: e-report-qc
      selected: false
      source: report
      sourceHandle: source
      target: report_qc
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: e-qc-final
      selected: false
      source: report_qc
      sourceHandle: source
      target: final
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: e-final-end
      selected: false
      source: final
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: loop
        sourceType: code
        targetType: tool
      id: parse_keywords-source-1782720740028-target
      source: parse_keywords
      sourceHandle: source
      target: '1782720740028'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: loop
        sourceType: tool
        targetType: llm
      id: 1782720740028-source-extract-target
      source: '1782720740028'
      sourceHandle: source
      target: extract
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: 用户输入研究问题。
        selected: false
        title: 1. 用户输入
        type: start
        variables:
        - label: user_query
          max_length: 4000
          options: []
          required: true
          type: paragraph
          variable: user_query
      height: 137
      id: start
      position:
        x: -12.895475444248206
        y: 111.49766109321399
      positionAbsolute:
        x: -12.895475444248206
        y: 111.49766109321399
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 结构化理解研究目标。
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            reasoning_effort: medium
          mode: chat
          name: gpt-5.4-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: b1238d44-c0b6-48de-84db-460aa3beabe3
          role: system
          text: 你是一名专业研究分析师。只输出 JSON，严禁编造来源。
        - id: 1294f411-92d0-4ede-ad4f-9efcb03a4ef5
          role: user
          text: "用户问题：{{#start.user_query#}}\n请输出：\n{\n  \"research_goal\": \"简要概括研究目标，不超过100字\"\
            ,\n  \"scope\": \"研究范围\",\n  \"key_focus\": [\"核心关注点1\", \"核心关注点2\"],\n\
            \  \"audience\": \"目标受众\"\n}\n"
        selected: false
        structured_output:
          enabled: false
        title: 2. 问题理解与意图识别
        type: llm
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 116
      id: intent
      position:
        x: 276.52542946690215
        y: 132.497661093214
      positionAbsolute:
        x: 276.52542946690215
        y: 132.497661093214
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json, re\ndef main(text: str) -> dict:\n    m = re.search(r\"\
          \\{.*\\}\", text or \"{}\", re.S)\n    data = json.loads(m.group(0) if m\
          \ else \"{}\")\n    return {\n        \"research_goal\": data.get(\"research_goal\"\
          , \"\"),\n        \"scope\": data.get(\"scope\", \"\"),\n        \"key_focus\"\
          : data.get(\"key_focus\", []),\n        \"audience\": data.get(\"audience\"\
          , \"\")\n    }\n"
        code_language: python3
        desc: 解析研究目标。
        outputs:
          audience:
            children: null
            type: string
          key_focus:
            children: null
            type: array[string]
          research_goal:
            children: null
            type: string
          scope:
            children: null
            type: string
        selected: false
        title: 解析研究目标
        type: code
        variables:
        - value_selector:
          - intent
          - text
          value_type: string
          variable: text
      height: 80
      id: parse_intent
      position:
        x: 578.2886119817105
        y: 132.497661093214
      positionAbsolute:
        x: 578.2886119817105
        y: 132.497661093214
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 拆分 2-3 个可搜索子问题。
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: c60254f9-bd4d-4c02-b1c3-7806faee3c66
          role: system
          text: 你是研究规划专家。只输出 JSON。
        - id: c0f06261-8a2f-43ac-b87c-2bb06afd2716
          role: user
          text: '基于以下研究目标，请拆分为 2-3 个具体、可搜索、互不重复的子问题。

            研究目标：{{#parse_intent.research_goal#}}

            范围：{{#parse_intent.scope#}}

            关注点：{{#parse_intent.key_focus#}}

            输出：{"sub_questions": ["子问题1", "子问题2", "子问题3"]}

            '
        selected: false
        structured_output:
          enabled: false
        title: 3. 子问题生成
        type: llm
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 116
      id: questions
      position:
        x: 878.2886119817103
        y: 132.497661093214
      positionAbsolute:
        x: 878.2886119817103
        y: 132.497661093214
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json, re\ndef main(text: str) -> dict:\n    m = re.search(r\"\
          \\{.*\\}\", text or \"{}\", re.S)\n    data = json.loads(m.group(0) if m\
          \ else \"{}\")\n    qs = data.get(\"sub_questions\", [])\n    return {\"\
          sub_questions\": [str(q).strip() for q in qs if str(q).strip()][:5]}\n"
        code_language: python3
        desc: 解析子问题数组。
        outputs:
          sub_questions:
            children: null
            type: array[string]
        selected: false
        title: 解析子问题
        type: code
        variables:
        - value_selector:
          - questions
          - text
          value_type: string
          variable: text
      height: 80
      id: parse_questions
      position:
        x: 1199.4468021594096
        y: 132.497661093214
      positionAbsolute:
        x: 1199.4468021594096
        y: 132.497661093214
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: For Each 子问题。
        error_handle_mode: terminated
        flatten_output: false
        height: 412
        is_parallel: false
        iterator_input_type: array[string]
        iterator_selector:
        - parse_questions
        - sub_questions
        output_selector:
        - merge
        - valid_info
        output_type: array[object]
        parallel_nums: 3
        selected: false
        start_node_id: loopstart
        title: 4. 循环控制
        type: iteration
        width: 1978
      height: 412
      id: loop
      position:
        x: 1541.7631825148082
        y: 110
      positionAbsolute:
        x: 1541.7631825148082
        y: 110
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1978
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: loopstart
      parentId: loop
      position:
        x: 24
        y: 84
      positionAbsolute:
        x: 1565.7631825148082
        y: 194
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 生成关键词。
        isInIteration: true
        iteration_id: loop
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: d09cc4e6-6e1d-4e54-bfc7-ebbe51e0f430
          role: system
          text: 你是搜索关键词生成器。只输出 JSON。
        - id: 7ce975dd-0244-4cca-8ed7-d415596b576f
          role: user
          text: '将以下子问题提炼为 3-6 个适合搜索引擎检索的关键词短语，优先英文，必要时中英混合。

            子问题：{{#loop.item#}}

            输出 JSON：{"keywords": ["keyword1", "keyword2"], "query": "best search query"}

            '
        selected: false
        structured_output:
          enabled: false
        title: 5. 搜索关键词生成
        type: llm
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 116
      id: keywords
      parentId: loop
      position:
        x: 92
        y: 68
      positionAbsolute:
        x: 1633.7631825148082
        y: 178
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json, re, urllib.parse\ndef main(text: str, fallback: str) ->\
          \ dict:\n    try:\n        m = re.search(r\"\\{.*\\}\", text or \"{}\",\
          \ re.S)\n        data = json.loads(m.group(0) if m else \"{}\")\n    except\
          \ Exception:\n        data = {}\n    query = data.get(\"query\") or \" \"\
          .join(data.get(\"keywords\", [])) or fallback\n    return {\"query\": query,\
          \ \"encoded_query\": urllib.parse.quote(query), \"keywords\": data.get(\"\
          keywords\", [])}\n"
        code_language: python3
        desc: 解析关键词。
        isInIteration: true
        iteration_id: loop
        outputs:
          encoded_query:
            children: null
            type: string
          keywords:
            children: null
            type: array[string]
          query:
            children: null
            type: string
        selected: false
        title: 解析关键词
        type: code
        variables:
        - value_selector:
          - keywords
          - text
          value_type: string
          variable: text
        - value_selector:
          - loop
          - item
          value_type: string
          variable: fallback
      height: 80
      id: parse_keywords
      parentId: loop
      position:
        x: 384
        y: 68
      positionAbsolute:
        x: 1925.7631825148082
        y: 178
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 提取信息。
        isInIteration: true
        iteration_id: loop
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 46de2f75-2a9b-4bb6-86aa-dbcf2e8b4a89
          role: system
          text: 严禁编造来源。只从搜索结果中提取信息，输出 JSON。
        - id: 67c14e63-8aae-4e11-8652-762f14f5abfb
          role: user
          text: "从以下搜索结果中提取与子问题最相关、有价值的信息。\n子问题：{{#loop.item#}}\n搜索结果：{{#1782720740028.text#}}{{#1782720740028.files#}}\n\
            输出：\n{\n  \"extracted_info\": [\n    {\"title\": \"标题\", \"content\":\
            \ \"要点内容\", \"url\": \"链接\", \"source\": \"来源网站\"}\n  ]\n}\n"
        selected: false
        structured_output:
          enabled: false
        title: 7. 信息提取与整理
        type: llm
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 116
      id: extract
      parentId: loop
      position:
        x: 968
        y: 68
      positionAbsolute:
        x: 2509.7631825148082
        y: 178
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json, re\ndef main(text: str) -> dict:\n    try:\n        m\
          \ = re.search(r\"\\{.*\\}\", text or \"{}\", re.S)\n        data = json.loads(m.group(0)\
          \ if m else \"{}\")\n    except Exception:\n        data = {\"extracted_info\"\
          : []}\n    return {\"extracted_info\": data.get(\"extracted_info\", [])}\n"
        code_language: python3
        desc: 解析 extracted_info。
        isInIteration: true
        iteration_id: loop
        outputs:
          extracted_info:
            children: null
            type: array[object]
        selected: false
        title: 解析提取信息
        type: code
        variables:
        - value_selector:
          - extract
          - text
          value_type: string
          variable: text
      height: 80
      id: parse_extract
      parentId: loop
      position:
        x: 971.5263650296165
        y: 247.97410275174065
      positionAbsolute:
        x: 2513.2895475444247
        y: 357.97410275174065
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 评估信息质量，并给出是否需要补查。
        isInIteration: true
        iteration_id: loop
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 0d6f5a00-5cce-4651-8500-af56474b01bd
          role: system
          text: 你是信息质量评估器。只输出 JSON。
        - id: 6a7e6c4e-3fcc-4dcc-a43f-f5f82df5c1bc
          role: user
          text: "请评估以下信息对子问题的贡献，综合考虑相关性、可靠性、权威性、时效性、完整性。\n子问题：{{#loop.item#}}\n提取信息：{{#parse_extract.extracted_info#}}\n\
            输出：\n{\n  \"score\": 0.85,\n  \"reason\": \"评分理由，不超过100字\",\n  \"quality_feedback\"\
            : \"若不足，说明缺失点\",\n  \"needs_more_search\": false\n}\n"
        selected: false
        structured_output:
          enabled: false
        title: 8. 信息质量评估
        type: llm
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 116
      id: quality
      parentId: loop
      position:
        x: 1260
        y: 68
      positionAbsolute:
        x: 2801.7631825148082
        y: 178
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json, re\ndef main(question: str, extracted_info: list, quality_text:\
          \ str) -> dict:\n    try:\n        m = re.search(r\"\\{.*\\}\", quality_text\
          \ or \"{}\", re.S)\n        q = json.loads(m.group(0) if m else \"{}\")\n\
          \    except Exception:\n        q = {}\n    score = float(q.get(\"score\"\
          , 0) or 0)\n    info = extracted_info or []\n    if score < 0.6:\n     \
          \   content = \"当前资料不足，需要补充搜索；已保留现有来源并标记低置信度。\"\n        confidence = \"\
          low\"\n        evidence_gap = True\n    else:\n        content = \"；\".join([str(x.get(\"\
          content\", \"\")) for x in info if isinstance(x, dict)])[:2000]\n      \
          \  confidence = \"medium\" if score < 0.8 else \"high\"\n        evidence_gap\
          \ = False\n    return {\n        \"valid_info\": {\n            \"question\"\
          : question,\n            \"content\": content,\n            \"sources\"\
          : info,\n            \"score\": score,\n            \"reason\": q.get(\"\
          reason\", \"\"),\n            \"quality_feedback\": q.get(\"quality_feedback\"\
          , \"\"),\n            \"confidence\": confidence,\n            \"evidence_gap\"\
          : evidence_gap\n        }\n    }\n"
        code_language: python3
        desc: 去重、整合并标记低质量信息。图片里的扩展搜索在此修正为低置信度标记，避免无限循环。
        isInIteration: true
        iteration_id: loop
        outputs:
          valid_info:
            children: null
            type: object
        selected: false
        title: 10. 信息去重与整合
        type: code
        variables:
        - value_selector:
          - loop
          - item
          value_type: string
          variable: question
        - value_selector:
          - parse_extract
          - extracted_info
          value_type: array[object]
          variable: extracted_info
        - value_selector:
          - quality
          - text
          value_type: string
          variable: quality_text
      height: 112
      id: merge
      parentId: loop
      position:
        x: 1693.7428986428354
        y: 69.89266875610508
      positionAbsolute:
        x: 3235.5060811576436
        y: 179.89266875610508
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 全局整合。
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 4fe9d33e-4147-4589-a472-d25cd329ec17
          role: system
          text: 你是深度研究整合专家。不要编造来源。
        - id: 3e5e6b12-8101-4164-b6f7-f43707051423
          role: user
          text: '请基于所有子问题研究结果进行全面整合，提炼核心洞察、关键趋势、机会、风险和证据缺口。

            所有研究发现：{{#loop.output#}}

            输出结构化 Markdown。

            '
        selected: false
        structured_output:
          enabled: false
        title: 12. 全局整合
        type: llm
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 116
      id: integrate
      position:
        x: 3693.699153932372
        y: 107.19167698420927
      positionAbsolute:
        x: 3693.699153932372
        y: 107.19167698420927
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 生成 Markdown 报告。
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 3222a62f-dd0f-4a78-9532-c51af7b077a3
          role: system
          text: 你是专业深度研究报告写作者。重要结论必须尽量关联来源，资料不足要明确说明。
        - id: 0d3c9291-8c27-4c7c-b00b-0b9afce5291f
          role: user
          text: '请基于以下研究洞察撰写专业深度研究报告。

            原始问题：{{#start.user_query#}}

            研究洞察：{{#integrate.text#}}

            来源和子问题发现：{{#loop.output#}}

            结构要求：

            1. 背景和研究方法

            2. 现状

            3. 关键趋势

            4. 竞争格局/技术路线/主要参与者

            5. 用户痛点

            6. 风险与挑战

            7. 机会与建议

            8. 参考来源

            输出 Markdown。

            '
        selected: false
        structured_output:
          enabled: false
        title: 13. 研究报告生成
        type: llm
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 116
      id: report
      position:
        x: 4059.74570533098
        y: 107.19167698420927
      positionAbsolute:
        x: 4059.74570533098
        y: 107.19167698420927
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 修正图片中的缺口：增加明确质检 LLM，输出 is_good / quality_feedback / report_final。
        memory:
          enabled: false
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 100b507f-da46-4e55-8c39-27d760da5034
          role: system
          text: 你是报告质量检查员。只输出 JSON；如果不合格，直接给出优化后的完整报告。
        - id: 9f0cb138-a457-464c-ac95-b4b3e38d6af3
          role: user
          text: "请检查报告是否完整、逻辑清晰、回答原问题、引用来源充分、没有编造来源。\n原始问题：{{#start.user_query#}}\n\
            报告：{{#report.text#}}\n子问题发现：{{#loop.output#}}\n输出：\n{\n  \"is_good\":\
            \ true,\n  \"quality_feedback\": \"若不通过，说明缺失点、逻辑问题、表达问题\",\n  \"report_final\"\
            : \"最终 Markdown 报告\"\n}\n"
        selected: false
        structured_output:
          enabled: false
        title: 14. 质量检查与优化
        type: llm
        vision:
          configs:
            variable_selector: []
          enabled: false
      height: 148
      id: report_qc
      position:
        x: 4379.140712993869
        y: 107.19167698420927
      positionAbsolute:
        x: 4379.140712993869
        y: 107.19167698420927
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json, re\ndef main(text: str, fallback: str) -> dict:\n    try:\n\
          \        m = re.search(r\"\\{.*\\}\", text or \"{}\", re.S)\n        data\
          \ = json.loads(m.group(0) if m else \"{}\")\n    except Exception:\n   \
          \     data = {}\n    return {\n        \"report_final\": data.get(\"report_final\"\
          ) or fallback,\n        \"is_good\": bool(data.get(\"is_good\", False)),\n\
          \        \"quality_feedback\": data.get(\"quality_feedback\", \"\")\n  \
          \  }\n"
        code_language: python3
        desc: 整理最终输出。
        outputs:
          is_good:
            children: null
            type: boolean
          quality_feedback:
            children: null
            type: string
          report_final:
            children: null
            type: string
        selected: false
        title: 16. 输出结果
        type: code
        variables:
        - value_selector:
          - report_qc
          - text
          value_type: string
          variable: text
        - value_selector:
          - report
          - text
          value_type: string
          variable: fallback
      height: 80
      id: final
      position:
        x: 4686.193443053103
        y: 110
      positionAbsolute:
        x: 4686.193443053103
        y: 110
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 输出 Markdown / 质检结果。
        outputs:
        - value_selector:
          - final
          - report_final
          value_type: string
          variable: report_final
        - value_selector:
          - final
          - is_good
          value_type: boolean
          variable: is_good
        - value_selector:
          - final
          - quality_feedback
          value_type: string
          variable: quality_feedback
        selected: false
        title: End
        type: end
      height: 168
      id: end
      position:
        x: 4965.035252875404
        y: 110
      positionAbsolute:
        x: 4965.035252875404
        y: 110
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: loop
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The search query you want to execute with Tavily.
            ja_JP: The search query you want to execute with Tavily.
            pt_BR: The search query you want to execute with Tavily.
            zh_Hans: 您想用 Tavily 执行的搜索查询。
          label:
            en_US: Query
            ja_JP: Query
            pt_BR: Query
            zh_Hans: 查询
          llm_description: The search query.
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: basic
          form: llm
          human_description:
            en_US: The depth of the search.
            ja_JP: The depth of the search.
            pt_BR: The depth of the search.
            zh_Hans: 搜索的深度。
          label:
            en_US: Search Depth
            ja_JP: Search Depth
            pt_BR: Search Depth
            zh_Hans: 搜索深度
          llm_description: The depth of the search. 'basic' for standard search, 'advanced'
            for comprehensive results, 'fast' for quick results, 'ultra-fast' for
            fastest results with minimal processing.
          max: null
          min: null
          name: search_depth
          options:
          - icon: ''
            label:
              en_US: Basic
              ja_JP: Basic
              pt_BR: Basic
              zh_Hans: 基本
            value: basic
          - icon: ''
            label:
              en_US: Advanced
              ja_JP: Advanced
              pt_BR: Advanced
              zh_Hans: 高级
            value: advanced
          - icon: ''
            label:
              en_US: Fast
              ja_JP: Fast
              pt_BR: Fast
              zh_Hans: 快速
            value: fast
          - icon: ''
            label:
              en_US: Ultra Fast
              ja_JP: Ultra Fast
              pt_BR: Ultra Fast
              zh_Hans: 超快速
            value: ultra-fast
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: general
          form: llm
          human_description:
            en_US: The category of the search.
            ja_JP: The category of the search.
            pt_BR: The category of the search.
            zh_Hans: 搜索的类别。
          label:
            en_US: Topic
            ja_JP: Topic
            pt_BR: Topic
            zh_Hans: 主题
          llm_description: The category of the search. Valid options are 'general',
            'news', and 'finance'.
          max: null
          min: null
          name: topic
          options:
          - icon: ''
            label:
              en_US: General
              ja_JP: General
              pt_BR: General
              zh_Hans: 一般
            value: general
          - icon: ''
            label:
              en_US: News
              ja_JP: News
              pt_BR: News
              zh_Hans: 新闻
            value: news
          - icon: ''
            label:
              en_US: Finance
              ja_JP: Finance
              pt_BR: Finance
              zh_Hans: 金融
            value: finance
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: not_specified
          form: llm
          human_description:
            en_US: The time range back from the current date to filter results.
            ja_JP: The time range back from the current date to filter results.
            pt_BR: The time range back from the current date to filter results.
            zh_Hans: 从当前日期起向后筛选结果的时间范围。
          label:
            en_US: Time Range
            ja_JP: Time Range
            pt_BR: Time Range
            zh_Hans: 时间范围
          llm_description: The time range back from the current date to filter results.
            Valid options are 'not_specified', 'day', 'week', 'month', and 'year'.
            When time_range is set, do not set start_date or end_date.
          max: null
          min: null
          name: time_range
          options:
          - icon: ''
            label:
              en_US: Not Specified
              ja_JP: Not Specified
              pt_BR: Not Specified
              zh_Hans: 不指定
            value: not_specified
          - icon: ''
            label:
              en_US: Day
              ja_JP: Day
              pt_BR: Day
              zh_Hans: 天
            value: day
          - icon: ''
            label:
              en_US: Week
              ja_JP: Week
              pt_BR: Week
              zh_Hans: 周
            value: week
          - icon: ''
            label:
              en_US: Month
              ja_JP: Month
              pt_BR: Month
              zh_Hans: 月
            value: month
          - icon: ''
            label:
              en_US: Year
              ja_JP: Year
              pt_BR: Year
              zh_Hans: 年
            value: year
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The start date for filtering results. Required to be written in
              the format YYYY-MM-DD.
            ja_JP: The start date for filtering results. Required to be written in
              the format YYYY-MM-DD.
            pt_BR: The start date for filtering results. Required to be written in
              the format YYYY-MM-DD.
            zh_Hans: 筛选结果的开始日期。必须以YYYY-MM-DD格式编写。
          label:
            en_US: Start Date
            ja_JP: Start Date
            pt_BR: Start Date
            zh_Hans: 开始日期
          llm_description: The start date for filtering results. Required to be written
            in the format YYYY-MM-DD. Results will be filtered to include content
            from this date onwards. When time_range is set, do not set start_date
            or end_date.
          max: null
          min: null
          name: start_date
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The end date for filtering results. Required to be written in the
              format YYYY-MM-DD.
            ja_JP: The end date for filtering results. Required to be written in the
              format YYYY-MM-DD.
            pt_BR: The end date for filtering results. Required to be written in the
              format YYYY-MM-DD.
            zh_Hans: 筛选结果的结束日期。必须以YYYY-MM-DD格式编写。
          label:
            en_US: End Date
            ja_JP: End Date
            pt_BR: End Date
            zh_Hans: 结束日期
          llm_description: The end date for filtering results. Required to be written
            in the format YYYY-MM-DD. Results will be filtered to include content
            up to this date. When time_range is set, do not set start_date or end_date.
          max: null
          min: null
          name: end_date
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Automatically configure search parameters based on query content
              and intent.
            ja_JP: Automatically configure search parameters based on query content
              and intent.
            pt_BR: Automatically configure search parameters based on query content
              and intent.
            zh_Hans: 根据查询内容和意图自动配置搜索参数。
          label:
            en_US: Auto Parameters
            ja_JP: Auto Parameters
            pt_BR: Auto Parameters
            zh_Hans: 自动参数
          llm_description: When set to true, Tavily automatically configures search
            parameters based on your query.
          max: null
          min: null
          name: auto_parameters
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include a list of query-related images in the response.
            ja_JP: Include a list of query-related images in the response.
            pt_BR: Include a list of query-related images in the response.
            zh_Hans: 在响应中包含与查询相关的图片列表。
          label:
            en_US: Include Images
            ja_JP: Include Images
            pt_BR: Include Images
            zh_Hans: 包含图片
          llm_description: When set to true, includes a list of query-related images
            in the response.
          max: null
          min: null
          name: include_images
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: When include_images is True, adds descriptive text for each image.
            ja_JP: When include_images is True, adds descriptive text for each image.
            pt_BR: When include_images is True, adds descriptive text for each image.
            zh_Hans: 当 include_images 为 True 时，为每个图像添加描述文本。
          label:
            en_US: Include Image Descriptions
            ja_JP: Include Image Descriptions
            pt_BR: Include Image Descriptions
            zh_Hans: 包含图片描述
          llm_description: When include_images is True and this is set to true, adds
            descriptive text for each image.
          max: null
          min: null
          name: include_image_descriptions
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include favicon URL for each result.
            ja_JP: Include favicon URL for each result.
            pt_BR: Include favicon URL for each result.
            zh_Hans: 包含每个结果的favicon URL。
          label:
            en_US: Include Favicon
            ja_JP: Include Favicon
            pt_BR: Include Favicon
            zh_Hans: 包含Favicon
          llm_description: When set to true, includes the favicon URL for each result.
          max: null
          min: null
          name: include_favicon
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include a short answer to the original query in the response. Use
              'basic' or 'true' for a quick answer or 'advanced' for a more detailed,
              comprehensive answer.
            ja_JP: Include a short answer to the original query in the response. Use
              'basic' or 'true' for a quick answer or 'advanced' for a more detailed,
              comprehensive answer.
            pt_BR: Include a short answer to the original query in the response. Use
              'basic' or 'true' for a quick answer or 'advanced' for a more detailed,
              comprehensive answer.
            zh_Hans: 在回复中包含对原始问题的简短回答。对于简要回答，请使用“基本”或“是”；对于更详细、更全面的回答，请使用“高级”。
          label:
            en_US: Include Answer
            ja_JP: Include Answer
            pt_BR: Include Answer
            zh_Hans: 包含答案
          llm_description: When set to true or 'basic', includes a short answer to
            the original query in the response. Use 'advanced' for a more detailed,
            comprehensive answer.
          max: null
          min: null
          name: include_answer
          options:
          - icon: ''
            label:
              en_US: 'False'
              ja_JP: 'False'
              pt_BR: 'False'
              zh_Hans: 否
            value: 'false'
          - icon: ''
            label:
              en_US: 'True'
              ja_JP: 'True'
              pt_BR: 'True'
              zh_Hans: 是
            value: 'true'
          - icon: ''
            label:
              en_US: Basic
              ja_JP: Basic
              pt_BR: Basic
              zh_Hans: 基本
            value: basic
          - icon: ''
            label:
              en_US: Advanced
              ja_JP: Advanced
              pt_BR: Advanced
              zh_Hans: 高级
            value: advanced
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include the cleaned and parsed HTML content of each search result.
              Use 'markdown' for markdown format or 'text' for plain text.
            ja_JP: Include the cleaned and parsed HTML content of each search result.
              Use 'markdown' for markdown format or 'text' for plain text.
            pt_BR: Include the cleaned and parsed HTML content of each search result.
              Use 'markdown' for markdown format or 'text' for plain text.
            zh_Hans: 包含每个搜索结果的已清理和解析的HTML内容。使用 Markdown 格式请选择 Markdown 选项，使用纯文本请选择文本选项。
          label:
            en_US: Include Raw Content
            ja_JP: Include Raw Content
            pt_BR: Include Raw Content
            zh_Hans: 包含原始内容
          llm_description: Include the cleaned and parsed content of each search result.
            'false' to disable, 'true' or 'markdown' for markdown format, 'text' for
            plain text format.
          max: null
          min: null
          name: include_raw_content
          options:
          - icon: ''
            label:
              en_US: 'False'
              ja_JP: 'False'
              pt_BR: 'False'
              zh_Hans: 否
            value: 'false'
          - icon: ''
            label:
              en_US: 'True'
              ja_JP: 'True'
              pt_BR: 'True'
              zh_Hans: 是
            value: 'true'
          - icon: ''
            label:
              en_US: Markdown
              ja_JP: Markdown
              pt_BR: Markdown
              zh_Hans: Markdown
            value: markdown
          - icon: ''
            label:
              en_US: Text
              ja_JP: Text
              pt_BR: Text
              zh_Hans: 纯文本
            value: text
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include API usage information (token counts, credits used) in the
              response.
            ja_JP: Include API usage information (token counts, credits used) in the
              response.
            pt_BR: Include API usage information (token counts, credits used) in the
              response.
            zh_Hans: 在响应中包含API使用信息（token计数、使用的积分）。
          label:
            en_US: Include Usage
            ja_JP: Include Usage
            pt_BR: Include Usage
            zh_Hans: 包含使用信息
          llm_description: When set to true, includes API usage information such as
            token counts and credits used in the response.
          max: null
          min: null
          name: include_usage
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: 5
          form: form
          human_description:
            en_US: The maximum number of search results to return.
            ja_JP: The maximum number of search results to return.
            pt_BR: The maximum number of search results to return.
            zh_Hans: 要返回的最大搜索结果数。
          label:
            en_US: Max Results
            ja_JP: Max Results
            pt_BR: Max Results
            zh_Hans: 最大结果数
          llm_description: The maximum number of search results to return. Range is
            1-20.
          max: 20
          min: 1
          name: max_results
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 3
          form: form
          human_description:
            en_US: Maximum number of content chunks returned per source (advanced
              and fast search only).
            ja_JP: Maximum number of content chunks returned per source (advanced
              and fast search only).
            pt_BR: Maximum number of content chunks returned per source (advanced
              and fast search only).
            zh_Hans: 每个来源返回的内容片段的最大数量（仅限高级和快速搜索）。
          label:
            en_US: Chunks Per Source
            ja_JP: Chunks Per Source
            pt_BR: Chunks Per Source
            zh_Hans: 每来源片段数
          llm_description: Maximum number of relevant content chunks (1-3) returned
            per source. Valid when search_depth is 'advanced' or 'fast'.
          max: 3
          min: 1
          name: chunks_per_source
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Boost search results for a specific country (topic must be general).
            ja_JP: Boost search results for a specific country (topic must be general).
            pt_BR: Boost search results for a specific country (topic must be general).
            zh_Hans: 从特定国家/地区提升搜索结果（主题必须是general）。
          label:
            en_US: Country
            ja_JP: Country
            pt_BR: Country
            zh_Hans: 国家
          llm_description: Select a country to boost results only when topic is general.
            Use one of the exact option values.
          max: null
          min: null
          name: country
          options:
          - icon: ''
            label:
              en_US: Afghanistan
              ja_JP: Afghanistan
              pt_BR: Afghanistan
              zh_Hans: 阿富汗
            value: afghanistan
          - icon: ''
            label:
              en_US: Albania
              ja_JP: Albania
              pt_BR: Albania
              zh_Hans: 阿尔巴尼亚
            value: albania
          - icon: ''
            label:
              en_US: Algeria
              ja_JP: Algeria
              pt_BR: Algeria
              zh_Hans: 阿尔及利亚
            value: algeria
          - icon: ''
            label:
              en_US: Andorra
              ja_JP: Andorra
              pt_BR: Andorra
              zh_Hans: 安道尔
            value: andorra
          - icon: ''
            label:
              en_US: Angola
              ja_JP: Angola
              pt_BR: Angola
              zh_Hans: 安哥拉
            value: angola
          - icon: ''
            label:
              en_US: Argentina
              ja_JP: Argentina
              pt_BR: Argentina
              zh_Hans: 阿根廷
            value: argentina
          - icon: ''
            label:
              en_US: Armenia
              ja_JP: Armenia
              pt_BR: Armenia
              zh_Hans: 亚美尼亚
            value: armenia
          - icon: ''
            label:
              en_US: Australia
              ja_JP: Australia
              pt_BR: Australia
              zh_Hans: 澳大利亚
            value: australia
          - icon: ''
            label:
              en_US: Austria
              ja_JP: Austria
              pt_BR: Austria
              zh_Hans: 奥地利
            value: austria
          - icon: ''
            label:
              en_US: Azerbaijan
              ja_JP: Azerbaijan
              pt_BR: Azerbaijan
              zh_Hans: 阿塞拜疆
            value: azerbaijan
          - icon: ''
            label:
              en_US: Bahamas
              ja_JP: Bahamas
              pt_BR: Bahamas
              zh_Hans: 巴哈马
            value: bahamas
          - icon: ''
            label:
              en_US: Bahrain
              ja_JP: Bahrain
              pt_BR: Bahrain
              zh_Hans: 巴林
            value: bahrain
          - icon: ''
            label:
              en_US: Bangladesh
              ja_JP: Bangladesh
              pt_BR: Bangladesh
              zh_Hans: 孟加拉国
            value: bangladesh
          - icon: ''
            label:
              en_US: Barbados
              ja_JP: Barbados
              pt_BR: Barbados
              zh_Hans: 巴巴多斯
            value: barbados
          - icon: ''
            label:
              en_US: Belarus
              ja_JP: Belarus
              pt_BR: Belarus
              zh_Hans: 白俄罗斯
            value: belarus
          - icon: ''
            label:
              en_US: Belgium
              ja_JP: Belgium
              pt_BR: Belgium
              zh_Hans: 比利时
            value: belgium
          - icon: ''
            label:
              en_US: Belize
              ja_JP: Belize
              pt_BR: Belize
              zh_Hans: 伯利兹
            value: belize
          - icon: ''
            label:
              en_US: Benin
              ja_JP: Benin
              pt_BR: Benin
              zh_Hans: 贝宁
            value: benin
          - icon: ''
            label:
              en_US: Bhutan
              ja_JP: Bhutan
              pt_BR: Bhutan
              zh_Hans: 不丹
            value: bhutan
          - icon: ''
            label:
              en_US: Bolivia
              ja_JP: Bolivia
              pt_BR: Bolivia
              zh_Hans: 玻利维亚
            value: bolivia
          - icon: ''
            label:
              en_US: Bosnia and Herzegovina
              ja_JP: Bosnia and Herzegovina
              pt_BR: Bosnia and Herzegovina
              zh_Hans: 波斯尼亚和黑塞哥维那
            value: bosnia and herzegovina
          - icon: ''
            label:
              en_US: Botswana
              ja_JP: Botswana
              pt_BR: Botswana
              zh_Hans: 博茨瓦纳
            value: botswana
          - icon: ''
            label:
              en_US: Brazil
              ja_JP: Brazil
              pt_BR: Brazil
              zh_Hans: 巴西
            value: brazil
          - icon: ''
            label:
              en_US: Brunei
              ja_JP: Brunei
              pt_BR: Brunei
              zh_Hans: 文莱
            value: brunei
          - icon: ''
            label:
              en_US: Bulgaria
              ja_JP: Bulgaria
              pt_BR: Bulgaria
              zh_Hans: 保加利亚
            value: bulgaria
          - icon: ''
            label:
              en_US: Burkina Faso
              ja_JP: Burkina Faso
              pt_BR: Burkina Faso
              zh_Hans: 布基纳法索
            value: burkina faso
          - icon: ''
            label:
              en_US: Burundi
              ja_JP: Burundi
              pt_BR: Burundi
              zh_Hans: 布隆迪
            value: burundi
          - icon: ''
            label:
              en_US: Cambodia
              ja_JP: Cambodia
              pt_BR: Cambodia
              zh_Hans: 柬埔寨
            value: cambodia
          - icon: ''
            label:
              en_US: Cameroon
              ja_JP: Cameroon
              pt_BR: Cameroon
              zh_Hans: 喀麦隆
            value: cameroon
          - icon: ''
            label:
              en_US: Canada
              ja_JP: Canada
              pt_BR: Canada
              zh_Hans: 加拿大
            value: canada
          - icon: ''
            label:
              en_US: Cape Verde
              ja_JP: Cape Verde
              pt_BR: Cape Verde
              zh_Hans: 佛得角
            value: cape verde
          - icon: ''
            label:
              en_US: Central African Republic
              ja_JP: Central African Republic
              pt_BR: Central African Republic
              zh_Hans: 中非共和国
            value: central african republic
          - icon: ''
            label:
              en_US: Chad
              ja_JP: Chad
              pt_BR: Chad
              zh_Hans: 乍得
            value: chad
          - icon: ''
            label:
              en_US: Chile
              ja_JP: Chile
              pt_BR: Chile
              zh_Hans: 智利
            value: chile
          - icon: ''
            label:
              en_US: China
              ja_JP: China
              pt_BR: China
              zh_Hans: 中国
            value: china
          - icon: ''
            label:
              en_US: Colombia
              ja_JP: Colombia
              pt_BR: Colombia
              zh_Hans: 哥伦比亚
            value: colombia
          - icon: ''
            label:
              en_US: Comoros
              ja_JP: Comoros
              pt_BR: Comoros
              zh_Hans: 科摩罗
            value: comoros
          - icon: ''
            label:
              en_US: Congo
              ja_JP: Congo
              pt_BR: Congo
              zh_Hans: 刚果
            value: congo
          - icon: ''
            label:
              en_US: Costa Rica
              ja_JP: Costa Rica
              pt_BR: Costa Rica
              zh_Hans: 哥斯达黎加
            value: costa rica
          - icon: ''
            label:
              en_US: Croatia
              ja_JP: Croatia
              pt_BR: Croatia
              zh_Hans: 克罗地亚
            value: croatia
          - icon: ''
            label:
              en_US: Cuba
              ja_JP: Cuba
              pt_BR: Cuba
              zh_Hans: 古巴
            value: cuba
          - icon: ''
            label:
              en_US: Cyprus
              ja_JP: Cyprus
              pt_BR: Cyprus
              zh_Hans: 塞浦路斯
            value: cyprus
          - icon: ''
            label:
              en_US: Czech Republic
              ja_JP: Czech Republic
              pt_BR: Czech Republic
              zh_Hans: 捷克共和国
            value: czech republic
          - icon: ''
            label:
              en_US: Denmark
              ja_JP: Denmark
              pt_BR: Denmark
              zh_Hans: 丹麦
            value: denmark
          - icon: ''
            label:
              en_US: Djibouti
              ja_JP: Djibouti
              pt_BR: Djibouti
              zh_Hans: 吉布提
            value: djibouti
          - icon: ''
            label:
              en_US: Dominican Republic
              ja_JP: Dominican Republic
              pt_BR: Dominican Republic
              zh_Hans: 多米尼加共和国
            value: dominican republic
          - icon: ''
            label:
              en_US: Ecuador
              ja_JP: Ecuador
              pt_BR: Ecuador
              zh_Hans: 厄瓜多尔
            value: ecuador
          - icon: ''
            label:
              en_US: Egypt
              ja_JP: Egypt
              pt_BR: Egypt
              zh_Hans: 埃及
            value: egypt
          - icon: ''
            label:
              en_US: El Salvador
              ja_JP: El Salvador
              pt_BR: El Salvador
              zh_Hans: 萨尔瓦多
            value: el salvador
          - icon: ''
            label:
              en_US: Equatorial Guinea
              ja_JP: Equatorial Guinea
              pt_BR: Equatorial Guinea
              zh_Hans: 赤道几内亚
            value: equatorial guinea
          - icon: ''
            label:
              en_US: Eritrea
              ja_JP: Eritrea
              pt_BR: Eritrea
              zh_Hans: 厄立特里亚
            value: eritrea
          - icon: ''
            label:
              en_US: Estonia
              ja_JP: Estonia
              pt_BR: Estonia
              zh_Hans: 爱沙尼亚
            value: estonia
          - icon: ''
            label:
              en_US: Ethiopia
              ja_JP: Ethiopia
              pt_BR: Ethiopia
              zh_Hans: 埃塞俄比亚
            value: ethiopia
          - icon: ''
            label:
              en_US: Fiji
              ja_JP: Fiji
              pt_BR: Fiji
              zh_Hans: 斐济
            value: fiji
          - icon: ''
            label:
              en_US: Finland
              ja_JP: Finland
              pt_BR: Finland
              zh_Hans: 芬兰
            value: finland
          - icon: ''
            label:
              en_US: France
              ja_JP: France
              pt_BR: France
              zh_Hans: 法国
            value: france
          - icon: ''
            label:
              en_US: Gabon
              ja_JP: Gabon
              pt_BR: Gabon
              zh_Hans: 加蓬
            value: gabon
          - icon: ''
            label:
              en_US: Gambia
              ja_JP: Gambia
              pt_BR: Gambia
              zh_Hans: 冈比亚
            value: gambia
          - icon: ''
            label:
              en_US: Georgia
              ja_JP: Georgia
              pt_BR: Georgia
              zh_Hans: 格鲁吉亚
            value: georgia
          - icon: ''
            label:
              en_US: Germany
              ja_JP: Germany
              pt_BR: Germany
              zh_Hans: 德国
            value: germany
          - icon: ''
            label:
              en_US: Ghana
              ja_JP: Ghana
              pt_BR: Ghana
              zh_Hans: 加纳
            value: ghana
          - icon: ''
            label:
              en_US: Greece
              ja_JP: Greece
              pt_BR: Greece
              zh_Hans: 希腊
            value: greece
          - icon: ''
            label:
              en_US: Guatemala
              ja_JP: Guatemala
              pt_BR: Guatemala
              zh_Hans: 危地马拉
            value: guatemala
          - icon: ''
            label:
              en_US: Guinea
              ja_JP: Guinea
              pt_BR: Guinea
              zh_Hans: 几内亚
            value: guinea
          - icon: ''
            label:
              en_US: Haiti
              ja_JP: Haiti
              pt_BR: Haiti
              zh_Hans: 海地
            value: haiti
          - icon: ''
            label:
              en_US: Honduras
              ja_JP: Honduras
              pt_BR: Honduras
              zh_Hans: 洪都拉斯
            value: honduras
          - icon: ''
            label:
              en_US: Hungary
              ja_JP: Hungary
              pt_BR: Hungary
              zh_Hans: 匈牙利
            value: hungary
          - icon: ''
            label:
              en_US: Iceland
              ja_JP: Iceland
              pt_BR: Iceland
              zh_Hans: 冰岛
            value: iceland
          - icon: ''
            label:
              en_US: India
              ja_JP: India
              pt_BR: India
              zh_Hans: 印度
            value: india
          - icon: ''
            label:
              en_US: Indonesia
              ja_JP: Indonesia
              pt_BR: Indonesia
              zh_Hans: 印度尼西亚
            value: indonesia
          - icon: ''
            label:
              en_US: Iran
              ja_JP: Iran
              pt_BR: Iran
              zh_Hans: 伊朗
            value: iran
          - icon: ''
            label:
              en_US: Iraq
              ja_JP: Iraq
              pt_BR: Iraq
              zh_Hans: 伊拉克
            value: iraq
          - icon: ''
            label:
              en_US: Ireland
              ja_JP: Ireland
              pt_BR: Ireland
              zh_Hans: 爱尔兰
            value: ireland
          - icon: ''
            label:
              en_US: Israel
              ja_JP: Israel
              pt_BR: Israel
              zh_Hans: 以色列
            value: israel
          - icon: ''
            label:
              en_US: Italy
              ja_JP: Italy
              pt_BR: Italy
              zh_Hans: 意大利
            value: italy
          - icon: ''
            label:
              en_US: Jamaica
              ja_JP: Jamaica
              pt_BR: Jamaica
              zh_Hans: 牙买加
            value: jamaica
          - icon: ''
            label:
              en_US: Japan
              ja_JP: Japan
              pt_BR: Japan
              zh_Hans: 日本
            value: japan
          - icon: ''
            label:
              en_US: Jordan
              ja_JP: Jordan
              pt_BR: Jordan
              zh_Hans: 约旦
            value: jordan
          - icon: ''
            label:
              en_US: Kazakhstan
              ja_JP: Kazakhstan
              pt_BR: Kazakhstan
              zh_Hans: 哈萨克斯坦
            value: kazakhstan
          - icon: ''
            label:
              en_US: Kenya
              ja_JP: Kenya
              pt_BR: Kenya
              zh_Hans: 肯尼亚
            value: kenya
          - icon: ''
            label:
              en_US: Kuwait
              ja_JP: Kuwait
              pt_BR: Kuwait
              zh_Hans: 科威特
            value: kuwait
          - icon: ''
            label:
              en_US: Kyrgyzstan
              ja_JP: Kyrgyzstan
              pt_BR: Kyrgyzstan
              zh_Hans: 吉尔吉斯斯坦
            value: kyrgyzstan
          - icon: ''
            label:
              en_US: Latvia
              ja_JP: Latvia
              pt_BR: Latvia
              zh_Hans: 拉脱维亚
            value: latvia
          - icon: ''
            label:
              en_US: Lebanon
              ja_JP: Lebanon
              pt_BR: Lebanon
              zh_Hans: 黎巴嫩
            value: lebanon
          - icon: ''
            label:
              en_US: Lesotho
              ja_JP: Lesotho
              pt_BR: Lesotho
              zh_Hans: 莱索托
            value: lesotho
          - icon: ''
            label:
              en_US: Liberia
              ja_JP: Liberia
              pt_BR: Liberia
              zh_Hans: 利比里亚
            value: liberia
          - icon: ''
            label:
              en_US: Libya
              ja_JP: Libya
              pt_BR: Libya
              zh_Hans: 利比亚
            value: libya
          - icon: ''
            label:
              en_US: Liechtenstein
              ja_JP: Liechtenstein
              pt_BR: Liechtenstein
              zh_Hans: 列支敦士登
            value: liechtenstein
          - icon: ''
            label:
              en_US: Lithuania
              ja_JP: Lithuania
              pt_BR: Lithuania
              zh_Hans: 立陶宛
            value: lithuania
          - icon: ''
            label:
              en_US: Luxembourg
              ja_JP: Luxembourg
              pt_BR: Luxembourg
              zh_Hans: 卢森堡
            value: luxembourg
          - icon: ''
            label:
              en_US: Madagascar
              ja_JP: Madagascar
              pt_BR: Madagascar
              zh_Hans: 马达加斯加
            value: madagascar
          - icon: ''
            label:
              en_US: Malawi
              ja_JP: Malawi
              pt_BR: Malawi
              zh_Hans: 马拉维
            value: malawi
          - icon: ''
            label:
              en_US: Malaysia
              ja_JP: Malaysia
              pt_BR: Malaysia
              zh_Hans: 马来西亚
            value: malaysia
          - icon: ''
            label:
              en_US: Maldives
              ja_JP: Maldives
              pt_BR: Maldives
              zh_Hans: 马尔代夫
            value: maldives
          - icon: ''
            label:
              en_US: Mali
              ja_JP: Mali
              pt_BR: Mali
              zh_Hans: 马里
            value: mali
          - icon: ''
            label:
              en_US: Malta
              ja_JP: Malta
              pt_BR: Malta
              zh_Hans: 马耳他
            value: malta
          - icon: ''
            label:
              en_US: Mauritania
              ja_JP: Mauritania
              pt_BR: Mauritania
              zh_Hans: 毛里塔尼亚
            value: mauritania
          - icon: ''
            label:
              en_US: Mauritius
              ja_JP: Mauritius
              pt_BR: Mauritius
              zh_Hans: 毛里求斯
            value: mauritius
          - icon: ''
            label:
              en_US: Mexico
              ja_JP: Mexico
              pt_BR: Mexico
              zh_Hans: 墨西哥
            value: mexico
          - icon: ''
            label:
              en_US: Moldova
              ja_JP: Moldova
              pt_BR: Moldova
              zh_Hans: 摩尔多瓦
            value: moldova
          - icon: ''
            label:
              en_US: Monaco
              ja_JP: Monaco
              pt_BR: Monaco
              zh_Hans: 摩纳哥
            value: monaco
          - icon: ''
            label:
              en_US: Mongolia
              ja_JP: Mongolia
              pt_BR: Mongolia
              zh_Hans: 蒙古
            value: mongolia
          - icon: ''
            label:
              en_US: Montenegro
              ja_JP: Montenegro
              pt_BR: Montenegro
              zh_Hans: 黑山
            value: montenegro
          - icon: ''
            label:
              en_US: Morocco
              ja_JP: Morocco
              pt_BR: Morocco
              zh_Hans: 摩洛哥
            value: morocco
          - icon: ''
            label:
              en_US: Mozambique
              ja_JP: Mozambique
              pt_BR: Mozambique
              zh_Hans: 莫桑比克
            value: mozambique
          - icon: ''
            label:
              en_US: Myanmar
              ja_JP: Myanmar
              pt_BR: Myanmar
              zh_Hans: 缅甸
            value: myanmar
          - icon: ''
            label:
              en_US: Namibia
              ja_JP: Namibia
              pt_BR: Namibia
              zh_Hans: 纳米比亚
            value: namibia
          - icon: ''
            label:
              en_US: Nepal
              ja_JP: Nepal
              pt_BR: Nepal
              zh_Hans: 尼泊尔
            value: nepal
          - icon: ''
            label:
              en_US: Netherlands
              ja_JP: Netherlands
              pt_BR: Netherlands
              zh_Hans: 荷兰
            value: netherlands
          - icon: ''
            label:
              en_US: New Zealand
              ja_JP: New Zealand
              pt_BR: New Zealand
              zh_Hans: 新西兰
            value: new zealand
          - icon: ''
            label:
              en_US: Nicaragua
              ja_JP: Nicaragua
              pt_BR: Nicaragua
              zh_Hans: 尼加拉瓜
            value: nicaragua
          - icon: ''
            label:
              en_US: Niger
              ja_JP: Niger
              pt_BR: Niger
              zh_Hans: 尼日尔
            value: niger
          - icon: ''
            label:
              en_US: Nigeria
              ja_JP: Nigeria
              pt_BR: Nigeria
              zh_Hans: 尼日利亚
            value: nigeria
          - icon: ''
            label:
              en_US: North Korea
              ja_JP: North Korea
              pt_BR: North Korea
              zh_Hans: 朝鲜
            value: north korea
          - icon: ''
            label:
              en_US: North Macedonia
              ja_JP: North Macedonia
              pt_BR: North Macedonia
              zh_Hans: 北马其顿
            value: north macedonia
          - icon: ''
            label:
              en_US: Norway
              ja_JP: Norway
              pt_BR: Norway
              zh_Hans: 挪威
            value: norway
          - icon: ''
            label:
              en_US: Oman
              ja_JP: Oman
              pt_BR: Oman
              zh_Hans: 阿曼
            value: oman
          - icon: ''
            label:
              en_US: Pakistan
              ja_JP: Pakistan
              pt_BR: Pakistan
              zh_Hans: 巴基斯坦
            value: pakistan
          - icon: ''
            label:
              en_US: Panama
              ja_JP: Panama
              pt_BR: Panama
              zh_Hans: 巴拿马
            value: panama
          - icon: ''
            label:
              en_US: Papua New Guinea
              ja_JP: Papua New Guinea
              pt_BR: Papua New Guinea
              zh_Hans: 巴布亚新几内亚
            value: papua new guinea
          - icon: ''
            label:
              en_US: Paraguay
              ja_JP: Paraguay
              pt_BR: Paraguay
              zh_Hans: 巴拉圭
            value: paraguay
          - icon: ''
            label:
              en_US: Peru
              ja_JP: Peru
              pt_BR: Peru
              zh_Hans: 秘鲁
            value: peru
          - icon: ''
            label:
              en_US: Philippines
              ja_JP: Philippines
              pt_BR: Philippines
              zh_Hans: 菲律宾
            value: philippines
          - icon: ''
            label:
              en_US: Poland
              ja_JP: Poland
              pt_BR: Poland
              zh_Hans: 波兰
            value: poland
          - icon: ''
            label:
              en_US: Portugal
              ja_JP: Portugal
              pt_BR: Portugal
              zh_Hans: 葡萄牙
            value: portugal
          - icon: ''
            label:
              en_US: Qatar
              ja_JP: Qatar
              pt_BR: Qatar
              zh_Hans: 卡塔尔
            value: qatar
          - icon: ''
            label:
              en_US: Romania
              ja_JP: Romania
              pt_BR: Romania
              zh_Hans: 罗马尼亚
            value: romania
          - icon: ''
            label:
              en_US: Russia
              ja_JP: Russia
              pt_BR: Russia
              zh_Hans: 俄罗斯
            value: russia
          - icon: ''
            label:
              en_US: Rwanda
              ja_JP: Rwanda
              pt_BR: Rwanda
              zh_Hans: 卢旺达
            value: rwanda
          - icon: ''
            label:
              en_US: Saudi Arabia
              ja_JP: Saudi Arabia
              pt_BR: Saudi Arabia
              zh_Hans: 沙特阿拉伯
            value: saudi arabia
          - icon: ''
            label:
              en_US: Senegal
              ja_JP: Senegal
              pt_BR: Senegal
              zh_Hans: 塞内加尔
            value: senegal
          - icon: ''
            label:
              en_US: Serbia
              ja_JP: Serbia
              pt_BR: Serbia
              zh_Hans: 塞尔维亚
            value: serbia
          - icon: ''
            label:
              en_US: Singapore
              ja_JP: Singapore
              pt_BR: Singapore
              zh_Hans: 新加坡
            value: singapore
          - icon: ''
            label:
              en_US: Slovakia
              ja_JP: Slovakia
              pt_BR: Slovakia
              zh_Hans: 斯洛伐克
            value: slovakia
          - icon: ''
            label:
              en_US: Slovenia
              ja_JP: Slovenia
              pt_BR: Slovenia
              zh_Hans: 斯洛文尼亚
            value: slovenia
          - icon: ''
            label:
              en_US: Somalia
              ja_JP: Somalia
              pt_BR: Somalia
              zh_Hans: 索马里
            value: somalia
          - icon: ''
            label:
              en_US: South Africa
              ja_JP: South Africa
              pt_BR: South Africa
              zh_Hans: 南非
            value: south africa
          - icon: ''
            label:
              en_US: South Korea
              ja_JP: South Korea
              pt_BR: South Korea
              zh_Hans: 韩国
            value: south korea
          - icon: ''
            label:
              en_US: South Sudan
              ja_JP: South Sudan
              pt_BR: South Sudan
              zh_Hans: 南苏丹
            value: south sudan
          - icon: ''
            label:
              en_US: Spain
              ja_JP: Spain
              pt_BR: Spain
              zh_Hans: 西班牙
            value: spain
          - icon: ''
            label:
              en_US: Sri Lanka
              ja_JP: Sri Lanka
              pt_BR: Sri Lanka
              zh_Hans: 斯里兰卡
            value: sri lanka
          - icon: ''
            label:
              en_US: Sudan
              ja_JP: Sudan
              pt_BR: Sudan
              zh_Hans: 苏丹
            value: sudan
          - icon: ''
            label:
              en_US: Sweden
              ja_JP: Sweden
              pt_BR: Sweden
              zh_Hans: 瑞典
            value: sweden
          - icon: ''
            label:
              en_US: Switzerland
              ja_JP: Switzerland
              pt_BR: Switzerland
              zh_Hans: 瑞士
            value: switzerland
          - icon: ''
            label:
              en_US: Syria
              ja_JP: Syria
              pt_BR: Syria
              zh_Hans: 叙利亚
            value: syria
          - icon: ''
            label:
              en_US: Taiwan
              ja_JP: Taiwan
              pt_BR: Taiwan
              zh_Hans: 台湾
            value: taiwan
          - icon: ''
            label:
              en_US: Tajikistan
              ja_JP: Tajikistan
              pt_BR: Tajikistan
              zh_Hans: 塔吉克斯坦
            value: tajikistan
          - icon: ''
            label:
              en_US: Tanzania
              ja_JP: Tanzania
              pt_BR: Tanzania
              zh_Hans: 坦桑尼亚
            value: tanzania
          - icon: ''
            label:
              en_US: Thailand
              ja_JP: Thailand
              pt_BR: Thailand
              zh_Hans: 泰国
            value: thailand
          - icon: ''
            label:
              en_US: Togo
              ja_JP: Togo
              pt_BR: Togo
              zh_Hans: 多哥
            value: togo
          - icon: ''
            label:
              en_US: Trinidad and Tobago
              ja_JP: Trinidad and Tobago
              pt_BR: Trinidad and Tobago
              zh_Hans: 特立尼达和多巴哥
            value: trinidad and tobago
          - icon: ''
            label:
              en_US: Tunisia
              ja_JP: Tunisia
              pt_BR: Tunisia
              zh_Hans: 突尼斯
            value: tunisia
          - icon: ''
            label:
              en_US: Turkey
              ja_JP: Turkey
              pt_BR: Turkey
              zh_Hans: 土耳其
            value: turkey
          - icon: ''
            label:
              en_US: Turkmenistan
              ja_JP: Turkmenistan
              pt_BR: Turkmenistan
              zh_Hans: 土库曼斯坦
            value: turkmenistan
          - icon: ''
            label:
              en_US: Uganda
              ja_JP: Uganda
              pt_BR: Uganda
              zh_Hans: 乌干达
            value: uganda
          - icon: ''
            label:
              en_US: Ukraine
              ja_JP: Ukraine
              pt_BR: Ukraine
              zh_Hans: 乌克兰
            value: ukraine
          - icon: ''
            label:
              en_US: United Arab Emirates
              ja_JP: United Arab Emirates
              pt_BR: United Arab Emirates
              zh_Hans: 阿拉伯联合酋长国
            value: united arab emirates
          - icon: ''
            label:
              en_US: United Kingdom
              ja_JP: United Kingdom
              pt_BR: United Kingdom
              zh_Hans: 英国
            value: united kingdom
          - icon: ''
            label:
              en_US: United States
              ja_JP: United States
              pt_BR: United States
              zh_Hans: 美国
            value: united states
          - icon: ''
            label:
              en_US: Uruguay
              ja_JP: Uruguay
              pt_BR: Uruguay
              zh_Hans: 乌拉圭
            value: uruguay
          - icon: ''
            label:
              en_US: Uzbekistan
              ja_JP: Uzbekistan
              pt_BR: Uzbekistan
              zh_Hans: 乌兹别克斯坦
            value: uzbekistan
          - icon: ''
            label:
              en_US: Venezuela
              ja_JP: Venezuela
              pt_BR: Venezuela
              zh_Hans: 委内瑞拉
            value: venezuela
          - icon: ''
            label:
              en_US: Vietnam
              ja_JP: Vietnam
              pt_BR: Vietnam
              zh_Hans: 越南
            value: vietnam
          - icon: ''
            label:
              en_US: Yemen
              ja_JP: Yemen
              pt_BR: Yemen
              zh_Hans: 也门
            value: yemen
          - icon: ''
            label:
              en_US: Zambia
              ja_JP: Zambia
              pt_BR: Zambia
              zh_Hans: 赞比亚
            value: zambia
          - icon: ''
            label:
              en_US: Zimbabwe
              ja_JP: Zimbabwe
              pt_BR: Zimbabwe
              zh_Hans: 津巴布韦
            value: zimbabwe
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: A comma-separated list of domains to specifically include in the
              search results.
            ja_JP: A comma-separated list of domains to specifically include in the
              search results.
            pt_BR: A comma-separated list of domains to specifically include in the
              search results.
            zh_Hans: 要在搜索结果中特别包含的域的逗号分隔列表。
          label:
            en_US: Include Domains
            ja_JP: Include Domains
            pt_BR: Include Domains
            zh_Hans: 包含域
          llm_description: A comma-separated list of domains to specifically include
            in the search results.
          max: null
          min: null
          name: include_domains
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: A comma-separated list of domains to specifically exclude from
              the search results.
            ja_JP: A comma-separated list of domains to specifically exclude from
              the search results.
            pt_BR: A comma-separated list of domains to specifically exclude from
              the search results.
            zh_Hans: 要从搜索结果中特别排除的域的逗号分隔列表。
          label:
            en_US: Exclude Domains
            ja_JP: Exclude Domains
            pt_BR: Exclude Domains
            zh_Hans: 排除域
          llm_description: A comma-separated list of domains to specifically exclude
            from the search results.
          max: null
          min: null
          name: exclude_domains
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Optional project ID for tracking and analytics purposes. Will be
              sent as X-Project-ID header.
            ja_JP: Optional project ID for tracking and analytics purposes. Will be
              sent as X-Project-ID header.
            pt_BR: Optional project ID for tracking and analytics purposes. Will be
              sent as X-Project-ID header.
            zh_Hans: 用于跟踪和分析目的的可选项目 ID。将作为 X-Project-ID 标头发送。
          label:
            en_US: Project ID
            ja_JP: Project ID
            pt_BR: Project ID
            zh_Hans: 项目 ID
          llm_description: Optional project ID for usage tracking and analytics.
          max: null
          min: null
          name: project_id
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          auto_parameters: ''
          chunks_per_source: ''
          country: ''
          end_date: ''
          exclude_domains: ''
          include_answer: ''
          include_domains: ''
          include_favicon: ''
          include_image_descriptions: ''
          include_images: ''
          include_raw_content: ''
          include_usage: ''
          max_results: ''
          project_id: ''
          query: ''
          search_depth: ''
          start_date: ''
          time_range: ''
          topic: ''
        plugin_id: langgenius/tavily
        plugin_unique_identifier: langgenius/tavily:0.1.10@b43f5dc49fbafc69949ee8231d600b23fb7586d514f4c72e470a86af03d2173d
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=93c3203a-d5f0-4921-bd75-92994511fb29&filename=87e9610216108c07bc947745c1df5715aa276dbaa90e5d60866102c549fb5452.png
        provider_id: langgenius/tavily/tavily
        provider_name: langgenius/tavily/tavily
        provider_type: builtin
        selected: false
        title: Tavily Search
        tool_configurations:
          auto_parameters:
            type: constant
            value: false
          chunks_per_source:
            type: constant
            value: 3
          include_answer:
            type: constant
            value: false
          include_favicon:
            type: constant
            value: false
          include_image_descriptions:
            type: constant
            value: true
          include_images:
            type: constant
            value: true
          include_raw_content:
            type: constant
            value: false
          include_usage:
            type: constant
            value: false
          max_results:
            type: constant
            value: 5
          project_id:
            type: mixed
            value: null
        tool_description: 专为人工智能代理 (LLM) 构建的搜索引擎工具，可快速提供实时、准确和真实的结果。
        tool_label: Tavily Search
        tool_name: tavily_search
        tool_node_version: '2'
        tool_parameters:
          country:
            type: constant
            value: null
          end_date:
            type: mixed
            value: null
          exclude_domains:
            type: mixed
            value: null
          include_domains:
            type: mixed
            value: null
          query:
            type: mixed
            value: '{{#parse_keywords.encoded_query#}}{{#parse_keywords.query#}}'
          search_depth:
            type: constant
            value: basic
          start_date:
            type: mixed
            value: null
          time_range:
            type: constant
            value: not_specified
          topic:
            type: constant
            value: general
        type: tool
      height: 321
      id: '1782720740028'
      parentId: loop
      position:
        x: 686
        y: 68
      positionAbsolute:
        x: 2227.7631825148082
        y: 178
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    viewport:
      x: -2632.1586588933656
      y: 245.3797048837048
      zoom: 0.7297400468607473
  rag_pipeline_variables: []
